/* google fonts */
@import url('https://fonts.googleapis.com/css2?family=Bungee+Hairline&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Rubik+Mono+One&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Advent+Pro:ital,wght@0,100..900;1,100..900&display=swap');

/* plagin google fonts */
@import url(https://fonts.googleapis.com/css?family=Reggae+One:regular);
@import url(https://fonts.googleapis.com/css?family=Rubik+Doodle+Shadow:regular);
/* шрифт для макету */

/* Локальне підключення */
@import url(..//fonts/Cuprum-Regular.woff2);
@import url(..//fonts/BellotaText-Bold.woff2);



@import url(reset.css);
@import url(fonts.css);
 /* body {
  font-family: "Bungee Hairline";
  color: rgb(0, 0, 0);
 } */


.title {
font-family: "Rubik Mono One";
color: rgb(12, 11, 11);
text-shadow: 5px 8px 15px blue,
-2px -2px 8px rgb(247, 252, 0);
font-weight: 900;
font-style:inherit;
text-align: center;
text-decoration: underline;
font-size: 35px;
letter-spacing: 5px;
}

.list-box {
font-family: "Advent Pro";
color: #71b4dbc4;
line-height: 1.88;
word-spacing: 10px;
white-space: px;
letter-spacing: 2px;
/* text-shadow: 1px -2px 7px; */
text-align: center;

}

.list_item {
font-family: "Reggae One";
color: rgba(33, 201, 83, 0.842);

}
.text {
font-family: "Rubik Doodle Shadow" sans-serif;
color: rgba(92, 212, 228, 0.719);
font-style: italic;
text-decoration: underline;
}

.content {
    font-family: "Cuprum" sans-serif;
    color: rgba(15, 207, 63, 0.356);
    font-style: oblique;
    letter-spacing: 6px;
    font-size: 20px;
    text-align: center;
}

.content-title {
font-family: "Bellota Text" sans-serif;
color: rgb(218, 233, 3);
text-align: center;
font-size: 40px;
text-decoration: line-through;
text-shadow: 5px 8px 15px blue,
-2px -2px 8px rgb(218, 10, 10);

}
.item {
    font-family: "Bellota Text" serif;
    font-weight: 300;
    color: rgba(0, 0, 255, 0.603);
    text-decoration: underline;
text-shadow: 2px 4px 3px;
}



.headline {
    font-family: 'Proxima Nova Rg',sans-serif;
    color: #2b2929;
    margin-top: 70px;
    font-weight:600;
    line-height: 48px;
    font-style: normal;
    font-size: 40px;
    text-align: center;
}

.paragraph {
    font-family: 'Proxima Nova Rg', sans-serif;
    color: #2b2929;
    font-weight: 400;
    margin-top: 30px;
    font-size: 16px;
    line-height: 30px;
}
.caption {
    font-family: 'Proxima Nova Rg',sans-serif;
    color: #2b2929;
    margin-top: 70px;
    font-weight:600;
    line-height: 48px;
    font-style: normal;
    font-size: 40px;
    text-align: center;
    padding-bottom: 40px;
}


.paragraph_text {
    line-height: 30px;
}
.paragraph_text_item {
    font-family: 'Proxima Nova Rg',sans-serif;
    color: #2b2929;
 padding-top: 40px;
 line-height: 30px;

}

.boldface {
    font-family: 'Proxima Nova Rg',sans-serif;
    font-size: 20px;
    line-height: 28px;
    font-weight: bold;
    font-style: normal;
    padding-top: 40px;
    padding-bottom: 30px;
}



