@import url(reset.css);
/* для чорноти эксперименту */
/*body {
	background-color: rgb(53, 52, 52);
}*/
/** {
	color: blue;
}*/
.header {
	color: rgb(55, 198, 230);
}

.blue {
	color: blue;
}

.yellow {
	color: rgb(202, 202, 57);
}

.link-one {
	color: blueviolet;
}

.main-content {
	color: red;
}

.box > p {
	color: blueviolet;
}

.box ~ p {
color: green;
}

.content-list-block + p {
	color: rgb(22, 112, 202);
}

.list .text {
	color: red;
}

.list a {
	color: greenyellow;
}

.box a  {
color: blueviolet;
}

.list span {
	color: blue;
}

.list .paragraph {
	color: aquamarine;
}

#village-id {
	color: rgb(20, 216, 59);
}

[class*="iv"]{
color: red;
}

[class*="ext"]{
color: rgb(221, 248, 11);
}

div.lorem {
	color: rgb(152, 176, 15);
}

.island_page.island {
	color: blueviolet;
}

/*.header,
.green {
	color: brown;
}*/

.list-item a {
	color: yellow;
}

/*.list-item * {
	color: bisque;
}*/

/*p {
	color: blueviolet;
}*/

/*p {
	color: rgb(20, 220, 153);
}*/

.list {
	color: rgb(118, 68, 7);
}

.paragraph__2 {
	color: rgb(255, 2, 2);
}

.footer__text.text {
	color: blueviolet;
}

.footer__text .text {
	color: rgb(8, 231, 19);
}
.completion {
	color: blue;
}

.footer > p {
	color: red;
}